flask
{% if 2 in core -%}
flask-script
{% endif %}

wtforms
flask-wtf
pytz

psycopg2
{% if 1 in core -%}
sqlalchemy
{% endif -%}
{% if 0 in core -%}
alembic
flask-sqlalchemy
{% endif -%}

{% if 3 in core -%}
flask-login
{% endif -%}

{% if 4 in core -%}
ansicolors
sqlparse
{% endif -%}