flask
{% if 'FLASK_SCRIPT' in core -%}
flask-script
{% endif %}

wtforms
flask-wtf
pytz

psycopg2
{% if 'SQLALCHEMY' in core -%}
sqlalchemy
{%- endif %}
{% if 'ALEMBIC' in core -%}
alembic
flask-sqlalchemy
{%- endif %}

{% if 'FLASK_LOGIN' in core -%}
flask-login
{%- endif %}

{% if 'SQLALCHEMY_LOGGING' in core -%}
ansicolors
sqlparse
{%- endif %}