{% raw %}{% extends 'base.html' %}


{% block content %}
<div class="b-page__content thirteen wide column">
    <div class="b-page__pure">

        {% include "flashes.html" %}

        <div class="b-page__title">
            <h1>Восстановление пароля</h1>
        </div>

        <div class="b-form ui form b-form--wide">
            <form method="post" class="b-form__validate">
                {{ form.csrf_token }}
                <div class="b-form__section field">
                    <label>{{ form.password.label }}</label>
                    {{ form.password(class='form-control', autofocus=True, required=True) }}
                </div>
                <div class="b-form__section field">
                    <label>{{ form.password2.label }}</label>
                    {{ form.password2(class='form-control', autofocus=True, required=True) }}
                </div>
                <div class="b-form__section field">
                    <button type="submit" class="ui large green button">Сохранить</button>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}
{% endraw %}